@charset "UTF-8" ;
body {
    background: rgb(70, 142, 237);
    font: normal 1.2em Arial;
}
header {
    text-align: center;
}
#container{
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.378);
    text-align: center;

    padding: 10px 5px 0px 5px;
    margin: auto;
    width: 48vw;
    height: 59vh;
    
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
    
    
}
form {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    max-width: 400px;
    min-width:300 ;
    height: 200px; 
    text-align: center;
}
#res {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 7px;
}
#img{
    width: 50%;
    background:no-repeat;
    background-size: contain;
    border-radius: 50%;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.378);
    box-sizing: border-box;
    overflow: hidden;
}
footer {
    text-align: center;
}
